<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/single-page.css">
        <title>About</title>

    </head>
    <body class="azeret-text ">
		<div class="head">
			<div>
				<span id="title" >About</span>
			</div>
			<div>
				<span id="date">2025-12-14</span>
			</div>
			<div>
			    <a href="#">ES</a>
				<a href="#">EN</a>
			</div>
			<hr>
			<div id="content">
			    <p>Welcome to my guestbook, this page was created to learn about backend.</p>


				<p>If you need to delete a message, please contact me via Discord or Email </p>

				<p>Please be kind</p>


			</div>

		</div>
    </body>
</html>
