<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/single-page.css">

        <link rel="icon" href="/static/favico.jpg">
        <title>About</title>

    </head>
    <body class="azeret-text ">
		<div class="head">
			<div>
				<span id="title" >About</span>
			</div>
			<div>
				<span id="date">2025-12-14</span>
			</div>
			<div>
			    <a href="/aboutes">ES</a>
				<a href="/about">EN</a>
			</div>
			<hr>
			<div id="content">
			    <p>Welcome to my guestbook. This page was created to help me learn about backend development.</p>

				<p>You can reply to a message by clicking on it. You can then view its replies by pressing the "Show # replies" button.</p>

				<p>If you wish to delete your message, please contact me via Discord "x234xewr4" or Email "nezi@nezi.xyz". </p>

				<p>Please be kind.</p>
			</div>
			<a href="/"><-</a>

		</div>
    </body>
</html>
