<!DOCTYPE html>
<html>
  <head>
    <title>Guestbook</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <link rel="icon" href="/static/favico.jpg">
  </head>
  <body class="azeret-text">
      <div class="title">
          <span>Guestbook</span>
      </div>

    <div>

    <div class="about"
        <span></apsn><a href="about">about.html</a></span>
    </div>

    <form action="/add" method="POST" id="message-form">
      <input type="hidden" name="id_entry" id="entry-id" value="">
      <input type="text" name="author" placeholder="Username" required>
      <input type="text" name="body" placeholder="Message" required>
      <button class="button" type="submit">Submit</button>
    </form>
    <div style="margin: 12px 0">
        <span id="replyto"> </span>
    </div>
    </div>

    <hr>

    {% for entry in datas %}
    <div style="margin-bottom: 10px; ">
      <strong>{{ entry[1] }}</strong>: <span class="response-text" onclick="respond({{ entry[0] }}, '{{ entry[1] }}')" id="res-{{ entry[0] }}">{{ entry[2] }}</span>
      <small>[{{ entry[3][:10] }}]</small>


      {% if entry[4] > 0 %}


      <span class="show-reply" onclick="toggleReplies({{ entry[0] }}, {{ entry[4] }})" id="btn-{{ entry[0] }}">
        Show {{ entry[4] }} replies
      </span>

      {% endif %}

      <div id="replies-{{ entry[0] }}" style="display: none;">
        {% for response in all_responses|reverse %}
        {% if response[1] == entry[0] %}
        <div style="margin: 8px 8px 0px 12px">
          - <span><strong>{{ response[2] }}</strong>: {{ response[3] }}</span>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    <script>
      function toggleReplies(entryId, replies) {
        var repliesDiv = document.getElementById('replies-' + entryId);
        var button = document.getElementById('btn-' + entryId);

        if (repliesDiv.style.display === 'none') {
          repliesDiv.style.display = 'block';
          button.textContent = 'Hide replies';
        } else {
          repliesDiv.style.display = 'none';
          button.textContent = 'Show ' + replies + ' replies';
        }
      }
    </script>
    <script>
      function respond(entryId, person){
        var form = document.getElementById('message-form')
        var entryIdInput = document.getElementById('entry-id')
        var formTitle = document.getElementById('form-title')
        var replyTo = document.getElementById('replyto')

        replyTo.textContent = "Replying to " + person

        form.action = '/addResponse';
        entryIdInput.value = entryId;


        console.log(entryId)
      }
    </script>
    {% for message in get_flashed_messages() %}
      <script>
        alert("{{ message }}");
      </script>
    {% endfor %}
    <a href="https://nezi.xyz/"><-</a>
  </body>
</html>
