@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-text {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    padding-top: 130px;
    background: #E1E1E1;
    margin: auto;
    vertical-align: middle;
    width: 820px;
}

input[type=text]{
    padding: 4px;
    border: 0px;
    background: #E1E1E1;
    background: #D9D9D9;
    box-shadow: 0;
    font-family: "Azeret Mono", serif;
    border-radius: 0px;
}

input:focus {
    border: none;
    outline: none;
}

.title{
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 25px;
}

.about{
    padding: 0 0 20px 0;
}

a{
    color: blue;
}

button,
input[type="submit"]{
    font-family: "Azeret Mono", serif;
    background: #E1E1E1;
    border: none;
    outline: none;
    color: blue;
}

hr{
    margin: 2-px 0;
}

.button:hover{
    cursor: pointer;
    text-decoration: underline;

}

.response-text:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.show-reply{
    color: blue;
}

.show-reply:hover{
    cursor: pointer;
    text-decoration: underline;
}
