@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-text {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background: #E1E1E1;
    width: 1251px;
    margin: auto;
    align-content: center;
}

input[type=text]{
    box-sizing: border-box;
    padding: 3px;
    background: #E1E1E1;
    box-shadow: 0;
    border-radius: 0px;
    border: 1px solid black;
}

input:focus {
    outline: none;
    border: 1px; /* or border: 0px; */
}
